{% extends 'blog/index.html' %}
        {% block header %}
        <header class="masthead" style="background-image: url('{{article_detail.thumbnail.url}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1 class="">{{article_detail.title}}</h1>
                            <time class="lead">{{article_detail.jpublished}}</time>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}

        {% block content %}
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 fs-5">
                        {{ article_detail.content|linebreaks }}
                    </div>
                </div>
            </div>
        </article>
        {% endblock %}
